@import './mixins/variables';

.about {
    margin-top: 75px;
    text-align: center;
    @media screen and (min-width: 768px) {
        margin-top: 0;
    }

    &__title {
        color: $red;
        font-size: 30px;
        margin-bottom: 15px;
        @media screen and (min-width: 768px) {
            font-size: 35px;
        }
    }

    &__txt {
        color: $blue;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            font-size: 25px;
        }
    }
}