@import './mixins/variables';
.CentralPartHT1{
    padding-top: 160px;

    &__Circle{
        width: 990px;
        height: 990px;
        border-radius: 50%;
        margin: auto;
        background-color: white;
        border-style: solid;
        color: $blue;
        border-color: $blue;
        border-width: 6px;
    }

    &__TitleCircle{
        text-align: center;
        font-size: 65pt;
        margin-top: 130px;
    }

    &__AllBlocks{
        margin-left: 150px;
        margin-top: 180px;
        width: 700px;
        height: 214px;
        justify-content: space-around;
        display: flex;
        text-align: center;
        font-size : 30pt;
        background-color: rgb(231, 227, 227);
        opacity: 0.8;
        padding: 10px 10px 10px 10px;
    }
    
}
.recherche_p{
    margin-left: 150px;
        margin-top: 180px;
        width: 700px;
        height: 214px;
        justify-content: space-around;
        display: flex;
        text-align: center;
        font-size : 30pt;
        background-color: rgb(231, 227, 227);
        opacity: 0.8;
        padding: 10px 10px 10px 10px;
    
        #searchthis #search {
            text-align: center;
            font-size : 30pt;
            background-color: rgb(231, 227, 227);
            opacity: 0.8;
            padding: 10px 10px 10px 10px;
            width: 700px;  
            height: 214px; 
            border: none;
            box-sizing: border-box;   
        }
}
