@import './mixins/variables';
.CentralPart {
    margin-top: 78px;
    @media screen and (min-width: 768px) {
        margin-top: -50px;
    }
    &__Circle {
        width: 297px;
        height: 297px;
        border-radius: 50%;
        margin: auto;
        background-color: white;
        border-style: solid;
        color: $blue;
        border-color: $blue;
        border-width: 1.8px;
        @media screen and (min-width: 768px) {
            width: 500px;
            height: 500px;
        }
    }

    &__TitleCircle {
        text-align: center;
        font-size: 19.5pt;
        line-height: 18px;
        margin: 0;
        color: #e84118;
        margin-top: 45px;
        padding-bottom: 4.5px;
        @media screen and (min-width: 768px) {
            margin-top: 100px;
            font-size: 30pt;
            line-height: 25px;
        }
    }

    &__TitleCircle1 {
        text-align: center;
        font-size: 19.5pt;
        margin: 0;
        margin-top: 22.5px;
        padding-bottom: 4.5px;
        color: #c23616;
        line-height: 18px;
        @media screen and (min-width: 768px) {
            margin-top: 50px;
            font-size: 30pt;
            line-height: 25px;
        }
    }

    &__STitleCircle {
        text-align: center;
        font-size: 9.9pt;
        @media screen and (min-width: 768px) {
            
            font-size: 15pt;
        }
    }
}

.recherche{
    margin-left: 75px;
    margin-top: 20px;
    -webkit-border-radius: 37;
    -moz-border-radius: 37;
    border-radius: 37px;
    width: 150px;
    height: 25px;
    justify-content: space-around;
    display: flex;
    text-align: center;
    font-size: 9pt;
    background-color: rgb(231, 227, 227);
    opacity: 0.8;
    padding: 3px 3px 3px 3px;
    @media screen and (min-width: 768px) {
        margin-top: 20px;
        width: 350px;
        height: 45px;
    }
    #searchthis #search {
        text-align: center;
        font-size: 12pt;
        color: rgb(63, 63, 63);
        background-color: rgb(231, 227, 227);
        opacity: 0.8;
        padding: 3px 3px 3px 3px;
        width: 135px;
        height: 25px;
        border: none;
        box-sizing: border-box;
        /* Important */
        @media screen and (min-width: 768px) {
            height: 45px;
            width: 300px;
        }
    }
}