@import './mixins/variables';
.header {
    position: relative;
    height: 105px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
        height: 300px;
    }

    &__triangle {

        &--isblue {
            position: absolute;
            left: 0;
            z-index: 10;
            width: 375px;
            height: 60%;
            @media screen and (min-width: 768px) {
                width: 768px;
            }
        }

        &--isred {
            position: absolute;
            right: 0;
            width: 40%;
            height: 65%;
            @media screen and (min-width: 768px) {
                width: 300px;
            }
        }
    }

    &__MainTitle {
        text-align: center;
        padding-top: 140px;
        color: $blue;
        font-size: 36pt;
        letter-spacing: 3.3px;
        @media screen and (min-width: 768px) {
            padding-top: 220px;
            font-size: 55pt;
        }
    }
}